<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statut de la pompe à chaleur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Statut au {updateDate}</h1>
<table>
    <thead>
    <tr>
        <th>Mesure</th>
        <th>Valeur</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {#for measure in measures}
        <tr>
        <td>{measure.title}</td>
        <td><strong>{measure.value}</strong></td>
        <td>{measure.icon}&nbsp;{measure.formattedTime}</td>
        </tr>
    {/for}
    </tbody>
</table>
</body>
</html>
